.contact-right input[type="submit"]{
    outline:none;
border:none;
background:#00923f;
color:#fff;
font-size:1em;
width:20%;
padding:10px 0;
transition: 0.5s all ease;
cursor:wait;
}


li.nav-item.active,li.nav-item:hover {
    border-bottom: 2px solid #00923f;
}









































.contact {
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .contact-form {
    position: relative;
    background: #f9f9f9;
    width: calc(100% - 400px);
    padding: 60px 40px 20px;
  }
  
  .contact-form form {
    width: 100%;
  }
  
  .contact-form .input50 {
    width: 50%;
    margin: 0 10px;
  }
  
  .contact-form .input100 {
    width: 100%;
    margin: 0 10px;
  }
  
  .contact-form .row input,
  .contact-form .row textarea {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #111;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
    resize: none;
  }
  
  .contact-form .row {
    width: 100%;
    display: flex;
  }
  
  .contact-form .row textarea {
    height: 150px;
  }
  
  .contact-form .row input[type="submit"] {
    background-color: var(--secondary-color);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    border: 0;
    font-weight: 600;
    cursor: pointer;
  }
  
  .contact-form .row input[type="submit"]:hover {
    background-color: #0a105e;
    color: #f9f9f9;
    letter-spacing: 1px;
  }
  
  .contact-info {
    background-color: #f9f9f9;
    width: 350px;
    padding: 60px 40px 20px;
  }
  
  .contact-info .info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  
  .contact-info .contact-icon {
    width: 30px;
    margin-right: 20px;
  }
  
  .contact-info .info-box .details h4 {
    color: var(--secondary-color);
  }
  
  .contact-info .info-box .details p,
  a {
    color: #111;
    text-decoration: none;
  }







































































  <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
        <a class="navbar-brand" href="#">Navbar</a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading1">First</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2">Second</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
              <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <h4 id="scrollspyHeading1">First heading</h4>
        <p>...</p>
        <h4 id="scrollspyHeading2">Second heading</h4>
        <p>...</p>
        <h4 id="scrollspyHeading3">Third heading</h4>
        <p>...</p>
        <h4 id="scrollspyHeading4">Fourth heading</h4>
        <p>...</p>
        <h4 id="scrollspyHeading5">Fifth heading</h4>
        <p>...</p>
      </div>
